@model CmsCore.Admin.Models.RedirectViewModel
@{
    ViewBag.Title = "Yeni Yönlendirme";
}
<link href="@(ViewBag.AssetsUrl)/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
<link href="@(ViewBag.AssetsUrl)/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" /><br />
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li><a href="@Url.Action("Index", "Redirect")" class="nav-link">Yönlendirmeler</a><i class="fa fa-circle"></i></li>
        <li><span>Yeni Menü</span></li>
    </ul>
</div><br />
<div class="row">
    <div class="col-md-12 ">
        <!-- BEGIN SAMPLE FORM PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <h1 class="page-title">Yeni Yönlendirme</h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.AntiForgeryToken()
            <div class="portlet-body form">
                <form role="form" method="post" asp-action="Create" asp-controller="Redirect">
                    <div class="form-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name)
                            @Html.TextBoxFor(model => model.Name, new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.OldUrl)
                            @Html.TextBoxFor(model => model.OldUrl, new { @tabindex = "2", @class = "form-control spinner" })
                            @Html.ValidationMessageFor(model => model.OldUrl, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NewUrl)
                            @Html.TextBoxFor(model => model.NewUrl, new { @tabindex = "3", @class = "form-control spinner" })
                            @Html.ValidationMessageFor(model => model.NewUrl, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.IsActive)
                            @Html.CheckBoxFor(model => model.IsActive, new { @tabindex = "4", @class = "form-control spinner" })
                            @Html.ValidationMessageFor(model => model.IsActive, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="form-actions">
                        <button type="submit" tabindex="5" class="btn blue">Ekle</button>
                        <button type="button" tabindex="6" class="btn default" onclick="window.location='@Url.Action("Index","Redirect")';">İptal</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END SAMPLE FORM PORTLET-->
<!-- BEGIN SAMPLE FORM PORTLET-->
@section scripts {

}