@model FormViewModel
<!DOCTYPE html>
<meta charset="utf-8" />
<title>@ViewBag.Title</title>
<br />
@*<script src="/Scripts/ckeditor/ckeditor.js"></script>*@
<script src="//cdn.ckeditor.com/4.6.2/standard/ckeditor.js"></script>
<style>
    textarea {
        max-width: 100%;
        max-height: 100%;
    }
</style>
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="@Url.Action("Index","Form")">Formlar</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <span>Yeni Form</span>
        </li>
    </ul>
    <div class="page-toolbar">

    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Yeni Form</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
            <div class="row">
                
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.AntiForgeryToken()
                    <form asp-controller="Form" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div class="col-md-12 ">
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                            <div class="portlet light bordered">
                                <!--İLAN VERİLİŞ TARİHİ O AN ALINACAK-->
                                <div class="portlet-body form">
                                    <div class="form-body">
                                        <div class="form-group">
                                            Form İsmi Giriniz:
                                            @Html.EditorFor(model => model.FormName, new { htmlAttributes = new { @tabindex = "1", @class = "form-control spinner", autofocus = "autofocus" } })
                                            @Html.ValidationMessageFor(model => model.FormName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            E-posta adresi giriniz:<br />
                                            To: @Html.EditorFor(model => model.EmailTo, new { htmlAttributes = new { @tabindex = "2", @class = "form-control spinner", multiple = "true", type = "email" } })
                                            @Html.ValidationMessageFor(model => model.EmailTo, "", new { @class = "text-danger" })
                                            cc: @Html.EditorFor(model => model.EmailCc, new { htmlAttributes = new { @tabindex = "3", @class = "form-control spinner", multiple = "true", type = "email" } })
                                            @Html.ValidationMessageFor(model => model.EmailCc, "", new { @class = "text-danger" })
                                            bcc: @Html.EditorFor(model => model.EmailBcc, new { htmlAttributes = new { @tabindex = "4", @class = "form-control spinner", multiple = "true", type = "email" } })
                                            @Html.ValidationMessageFor(model => model.EmailBcc, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            Açıklama Giriniz:
                                            <p>
                                                <textarea asp-for="Description" tabindex="3"></textarea>
                                                <span class="text-danger" asp-validation-for="Description"></span>
                                                <script type="text/javascript">
                                                    CKEDITOR.replace('Description');
                                                </script>
                                            </p>
                                            <div id="content2" style="display: none" data-sample="2">
                                                <p>The number of <code>change</code> events:<strong><span id="changes"></span></strong>.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            Kapanış Mesajı Giriniz:
                                            <p>
                                                <textarea asp-for="ClosingDescription" tabindex="3"></textarea>
                                                <span class="text-danger" asp-validation-for="ClosingDescription"></span>
                                                <script type="text/javascript">
                                                    CKEDITOR.replace('ClosingDescription');
                                                </script>
                                            </p>
                                            <div id="content2" style="display: none" data-sample="2">
                                                <p>The number of <code>change</code> events:<strong><span id="changes"></span></strong>.</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-group">
                                                Google Analytics:
                                                @Html.TextAreaFor(model => model.GoogleAnalyticsCode, new { @tabindex = "7", @class = "form-control spinner" })
                                                @Html.ValidationMessageFor(model => model.GoogleAnalyticsCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div><input type="submit" value="Kaydet" />
                                </div>
                            </div>

                            <!-- END SAMPLE FORM PORTLET-->
                            <!-- BEGIN SAMPLE FORM PORTLET-->
                        </div>
                       </form>
</div>
        </div>
    </div>
</div>



